$primary-0: #cbccce;
$primary-1: #9e9e9e;
$primary-2: #7f98a2;
$primary-3: #426770;
$primary-4: #243a46;
$primary-5: #212c2d;
$primary-6: #080f12;

$warning-0: #ffd190;
$warning-1: #fcb654;
$warning-2: #f8a532;
$warning-3: #fb960a;

$danger-0: #fa0303;
$danger-1: #990606;
$danger-2: #650a0a;
$danger-3: #310a0a;

$bp-largest: 75em; //1200px / 16
$bp-large: 68.75em; //1100px / 16
$bp-medium: 56.25em; //900 / 16
$bp-small: 40.625em; //650 / 16
$bp-xsmall: 40em; //640 / 16
$bp-xxsmall: 36.875em; //590 / 16
$bp-phone: 25.9375em; //415 / 16
